@{
    ViewData["Title"] = "Мир сувениров";
}

<h1>Сувениры по доступной цене!</h1>
<p>Добро пожаловать в наш магазин!</p>
<p>Это лучший магазин сувениров в вашем городе. Мы предлагаем широкий ассортимент товаров по доступным ценам.</p>

<p>Почему выбирают нас</p>
<ul>
    <li>Высокое качество товаров</li>
    <li>Быстрая доставка</li>
    <li>Гарантия на всю продукцию</li>
    <li>Профессиональные консультации</li>
</ul>

<h2>Немного о мастерской Мир сувениров</h2>
<p>Мастерская "Мир сувениров" создана в 2015 году энтузиастами, влюбленными в искусство создания красивых вещей. Начав с небольшой мастерской по производству шкатулок, мы выросли в полноценный сувенирный центр с собственным производством.</p>

<p>Хиты продаж среди сувениров</p>
<p>Пользуются популярностью среди наших клиентов:</p>
<img src="~/images/box1.jpg" alt="Шкатулка 1" width="200">
<img src="~/images/lamp2.jpg" alt="Светильник 2" width="200">
<img src="~/images/lamp1.jpg" alt="Светильник 1" width="200">
